@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Contact me on <a href="https://www.linkedin.com/in/kim-harjam%C3%A4ki"> LinkedIn </a>.</p>
    <p> GitHub repository GIt Hub Actions for IAC and CI/CD WorkFlows <a href="https://github.com/OgeonX/Simple.NetCoreHelloWorldWebApp"> Github </a>.</p>
</div>
