@page
@model IndexModel

<div class="text-center my-5">
    <h1 class="display-4 font-weight-bold">Welcome to my Professional Profile</h1>
    <p class="font-weight-light">I am a skilled DevOps developer with a focus on ASP.NET Core and continuous integration and deployment (CI/CD) practices. My expertise lies in building scalable and high-performance web applications with ASP.NET Core, as well as automating the development workflow through the use of CI/CD pipelines. </p>
    <p>
        If you are looking for a knowledgeable and experienced devops developer who can bring value to your organization, I would love to hear from you. Feel free to reach out to me on <a class="font-weight-bold" href="https://www.linkedin.com/in/kim-harjam%C3%A4ki">LinkedIn</a>.
    </p>
    <p>
        You can also take a look at some of my work on <a class="font-weight-bold" href="https://github.com/OgeonX/Simple.NetCoreHelloWorldWebApp">GitHub</a>, where I have demonstrated my expertise in implementing CI/CD workflows for Infrastructure as Code (IAC) projects.
    </p>
</div>